.DS_Store
application/.DS_Store
application/controllers/.DS_Store
application/models/.DS_Store
downloads/.DS_Store
downloads/alltemplate/.DS_Store
downloads/alltemplate/www/.DS_Store
downloads/alltemplate/www/app/.DS_Store
downloads/alltemplate/www/app/view/.DS_Store
/uploads/service/*
/uploads/url_icons/*
/uploads/tab_icon/*
/uploads/socialmedia_icons/*
/uploads/homes/*
/uploads/gallery/*
/uploads/Item/*
/uploads/Loyalty/*
/uploads/Menu/*
/uploads/rss/*
/uploads/lunch_header/*
/uploads/events/*
/uploads/cataloguesub/*
/uploads/cataloguemain/*
/uploads/catalogueitem/*
/uploads/background_image/*
/uploads/arrival/*
/uploads/QRCode/*